

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-slate-gray: #36453bff;
    --dim-gray: #596869ff;
    --ebony: #515751ff;
    --ivory: #f5f9e9ff;
    --sage: #c2c1a5ff;
}


body::-webkit-scrollbar{
    scroll-behavior: smooth;
    display: none;
}

/* Navigation */

nav{
    background-color: var(--ivory);
    box-shadow: 2px 2px 3px var(--dark-slate-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.hamburger{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    display: none;
}

.bar1,.bar2,.bar3{
    background-color: var(--dark-slate-gray);
    width: 35px;
    margin: 4px;
    height: 4px;
    transition: .5s;
}

.logo{
    margin-bottom: 20px;
}

.logo h2{
    font-size: 3rem;
    color: var(--dark-slate-gray);
}

.logo h2::first-letter{
    font-size: 4rem;
}

.nav-links{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.nav-links a{
    font-size: 1.1rem;
    color: var(--ebony);
    text-decoration: none;
    font-weight: bold;
    transition: .7s;
}

.nav-links a:hover{
    color: var(--sage);
    transform: scale(1.2,1);
}

.header{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media(max-width: 700px){
    .hamburger{
        display: block;
        margin-bottom: 15px;
    }

     .nav-links{
        display: none;
    }

    .toggle.nav-links{
        display: block;
        display: flex;
    }

    .nav-links a{
        font-size: .9rem;
    }

    .logo h2{
        font-size: 2rem;
    }

    .logo h2::first-letter{
        font-size: 2.5rem;
    }
    
}

/* Clock */

.clock{
    margin: 10px;
    display: flex;
    align-items: end;
    flex-direction: column;
    padding: 5px;
    color: var(--dark-slate-gray);
}

#time{
    font-weight: bold;
    padding: 2px;
    font-size: large;
}

/* Headline  */


.headline{
    border: 2px solid var(--dark-slate-gray);
    margin: 10px auto;
    width: 90%;
    padding: 20px;
    height: auto;
    display: flex;
    align-items: center;
    
}

.headline{
    border-right: 0;
    border-top: 0;
    border-left: 4px solid var(--dark-slate-gray);
}

.headline h1{
    font-size: 3.5rem;
    color: var(--dark-slate-gray);
    padding-bottom: 10px;
}

.headline h1::first-letter{
    font-size: 3.5rem;
}

.headline h2{
    color: var(--ebony);
    padding-bottom: 10px;
}

.headline p{
    color: var(--dark-slate-gray);
    font-size: 1.2rem;
    padding-bottom: 5px;
}

.headline #author{
    font-style: italic;
    color: var(--dim-gray);
}

.info{
    width: 100%;
    margin-right: 10px;
}

.picture{
    width: 40%;
}

#img{
    width: 100%;
    height: auto;
    max-height: 180px;
    box-shadow: 2px 2px 3px var(--dark-slate-gray);

}

/* Container */

.main-container{
    display: flex;
    padding: 20px;
    gap: 10px;
    width: 100%;
}

.container1{
    padding: 20px;
    display: grid;
}

.grid-item{
    padding: 10px;
    border: 1px solid var(--dark-slate-gray);
    border-top: 0;
    border-left: 0;
}

.grid-item1, .grid-item5{
    grid-column: 1/3;
}

.grid-item4, .grid-item8{
    grid-column: 1/3;
}

.grid-item h3{
    color: var(--dark-slate-gray);
    padding-bottom: 5px;
}
.grid-item h2{
    color: var(--ebony);
    padding-bottom: 10px;
    padding-bottom: 5px;
    font-size: 1.3rem;
}

.grid-item p{
    color: var(--dark-slate-gray);
}

.grid-item5, .grid-item6, .grid-item7 ,.grid-item8{
    border-right: 0;
}


.grid-item3{
    display: flex;
    flex-direction: column;
}

#grid-item3-img{
    width: 100%;
    height: auto;
    max-height: 200px;
    box-shadow: 2px 2px 3px var(--dark-slate-gray);
}

#headline-location{
    font-size: 2.5rem;
    text-align: center;
}

#headline-caption{
    text-align: center;
}

#grid-item2-title{
    font-size: 1.6rem;
    margin-bottom: 10px;
}

#grid-item2-abstract{
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#grid-item2-author{
    font-style: italic;
    color: var(--dim-gray);
}

#grid-item4-img{
    width: 100%;
    height: auto;
    max-height: 300px;
    box-shadow: 2px 2px 3px var(--dark-slate-gray);
}

#grid-item3-caption{
    font-size: 1.3rem;
}

#grid-item4-title{
    font-size: 1.6rem;
    margin-bottom: 10px;
}

#grid-item4-caption{
    font-size: 1.3rem;
    margin-bottom: 10px;
}

#grid-item5-title{
    text-align: center;
    font-size: 1.6rem;
   }

#grid-item5-img{
    width: 100%;
    height: auto;
    max-height: 200px;
    box-shadow: 2px 2px 3px var(--dark-slate-gray);
   }

#grid-item5-caption{
    text-align: center;
   }


   #grid-item5-title,#grid-item6-title,#grid-item7-title,#grid-item8-title,#grid-item9-title{
    margin-bottom: 10px;
    text-align: center;
   }

   #grid-item6-author,#grid-item7-author,#grid-item8-author,#grid-item9-author{
    font-style: italic;
    text-align: center;
    color: var(--dim-gray);
   }

   #grid-item6-abstract,#grid-item7-abstract,#grid-item8-abstract,#grid-item9-abstract{
    text-align: center;
    margin-bottom: 10px;
  }

@media(max-width: 850px){
    
    .logo h2{
        font-size: 1.7rem;
    }

    .logo h2::first-letter{
        font-size: 2rem;
    }

    .bar1,.bar2,.bar3{
        width: 25px;
        margin: 3px;
        height: 3px;
    }

    .main-container{
        flex-direction: column;
    }

    .container1, .container2{
        display: flex;
        flex-direction: column;
        padding: 0;
        border: 2px solid var(--dark-slate-gray);
    }

    .container{
        grid-template-columns: repeat(auto, 90%);
        width: 100%;
    }

    .headline{
        flex-direction: column;
        align-items: flex-start;
       
    }

    .headline h1{
        font-size: 2rem;
        width: 100%;
    }

    .headline h2{
        font-size: 1.2rem;
        width: 100%;
        
    }

    .headline p{
        font-size: 1rem;
        width: 100%;
    }

    .headline #author{
        font-size: 1rem;
    }

    .info, .picture{
        width: 100%;
    }

    .info{
        margin-bottom: 10px;
        width: 100% !important;
    }

    #time, p{
        font-weight: bold;
        padding: 2px;
        font-size: .9rem;
    }

    .grid-item{
        border-right: 0;
    }

   #headline-location{
    font-size: 1.5rem;
   }

   #headline-caption{
    font-size: 1.2rem;
   }

   #grid-item2-title{
    text-align: center;
    font-size: 1.5rem;
   }

   #grid-item2-abstract{
    font-size: 1rem;
    text-align: center;
   }

   #grid-item2-author{
    text-align: center;
   }

   #grid-item3-caption{
    text-align: center;
    font-size: 1.2rem;
   }

   #grid-item4-title{
    text-align: center;
    font-size: 1.5rem;
   }

   #grid-item4-caption{
    font-size: 1.2rem;
    text-align: center;
   }

  

   #grid-item5-img{
    width: 100%;
    height: auto;
    max-height: 200px;
   }

   #grid-item5-caption{
    text-align: center;
   }
    /* World */
    
   #headline-location-world{
    font-size: 1.5rem;
   }

   #headline-caption-world{
    font-size: 1.2rem;
   }

   #grid-item2-title-world{
    text-align: center;
    font-size: 1.5rem;
   }

   #grid-item2-abstract-world{
    font-size: 1rem;
    text-align: center;
   }

   #grid-item2-author-world{
    text-align: center;
   }

   #grid-item3-caption-world{
    text-align: center;
    font-size: 1.2rem;
   }

   #grid-item4-title-world{
    text-align: center;
    font-size: 1.5rem;
   }

   #grid-item4-caption-world{
    font-size: 1.2rem;
    text-align: center;
   }


   #grid-item5-img-world{
    width: 100%;
    height: auto;
    max-height: 200px;
   }

   #grid-item5-caption-world{
    text-align: center;
   }

   /* Art */
   #headline-location-art{
    font-size: 1.5rem;
   }

   #headline-caption-art{
    font-size: 1.2rem;
   }

   #grid-item2-title-art{
    text-align: center;
    font-size: 1.5rem;
   }

   #grid-item2-abstract-art{
    font-size: 1rem;
    text-align: center;
   }

   #grid-item2-author-art{
    text-align: center;
   }

   #grid-item3-caption-art{
    text-align: center;
    font-size: 1.2rem;
   }

   #grid-item4-title-art{
    text-align: center;
    font-size: 1.5rem;
   }

   #grid-item4-caption-art{
    font-size: 1.2rem;
    text-align: center;
   }


   #grid-item5-img-art{
    width: 100%;
    height: auto;
    max-height: 200px;
   }

   #grid-item5-caption-art{
    text-align: center;
   }

}

/* World */

.picture-world{
    width: 40%;
}

#img-world{
    width: 100%;
    height: auto;
    max-height: 180px;
    box-shadow: 2px 2px 3px var(--dark-slate-gray);

}

.headline #author-world{
    font-style: italic;
    color: var(--dim-gray);
}

.headline #author-world{
    font-style: italic;
    color: var(--dim-gray);
}


#grid-item3-img-world{
    width: 100%;
    height: auto;
    max-height: 200px;
    box-shadow: 2px 2px 3px var(--dark-slate-gray);
}

#headline-location-world{
    font-size: 2.5rem;
    text-align: center;
}

#headline-caption-world{
    text-align: center;
}

#grid-item2-title-world{
    font-size: 1.6rem;
    margin-bottom: 10px;
}

#grid-item2-abstract-world{
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#grid-item2-author-world{
    font-style: italic;
    color: var(--dim-gray);
}

#grid-item4-img-world{
    width: 100%;
    height: auto;
    max-height: 300px;
    box-shadow: 2px 2px 3px var(--dark-slate-gray);
}

#grid-item3-caption-world{
    font-size: 1.3rem;
}

#grid-item4-title-world{
    font-size: 1.6rem;
    margin-bottom: 10px;
}

#grid-item4-caption-world{
    font-size: 1.3rem;
    margin-bottom: 10px;
}

#grid-item5-title-world{
    text-align: center;
    font-size: 1.6rem;
   }

#grid-item5-img-world{
    width: 100%;
    height: auto;
    max-height: 200px;
    box-shadow: 2px 2px 3px var(--dark-slate-gray);
   }

#grid-item5-caption-world{
    text-align: center;
   }


   #grid-item5-title-world,#grid-item6-title-world,#grid-item7-title-world,#grid-item8-title-world,#grid-item9-title-world{
    margin-bottom: 10px;
    text-align: center;
   }

   #grid-item6-author-world,#grid-item7-author-world,#grid-item8-author-world,#grid-item9-author-world{
    font-style: italic;
    text-align: center;
    color: var(--dim-gray);
   }

   #grid-item6-abstract-world,#grid-item7-abstract-world,#grid-item8-abstract-world,#grid-item9-abstract-world{
    text-align: center;
    margin-bottom: 10px;
  }

  /*  Art */

  
.picture-art{
    width: 40%;
}

#img-art{
    width: 100%;
    height: auto;
    max-height: 180px;
    box-shadow: 2px 2px 3px var(--dark-slate-gray);

}

.headline #author-art{
    font-style: italic;
    color: var(--dim-gray);
}

.headline #author-art{
    font-style: italic;
    color: var(--dim-gray);
}


#grid-item3-img-art{
    width: 100%;
    height: auto;
    max-height: 200px;
    box-shadow: 2px 2px 3px var(--dark-slate-gray);
}

#headline-location-art{
    font-size: 2.5rem;
    text-align: center;
}

#headline-caption-art{
    text-align: center;
}

#grid-item2-title-art{
    font-size: 1.6rem;
    margin-bottom: 10px;
}

#grid-item2-abstract-art{
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#grid-item2-author-art{
    font-style: italic;
    color: var(--dim-gray);
}

#grid-item4-img-art{
    width: 100%;
    height: auto;
    max-height: 300px;
    box-shadow: 2px 2px 3px var(--dark-slate-gray);
}

#grid-item3-caption-art{
    font-size: 1.3rem;
}

#grid-item4-title-art{
    font-size: 1.6rem;
    margin-bottom: 10px;
}

#grid-item4-caption-art{
    font-size: 1.3rem;
    margin-bottom: 10px;
}

#grid-item5-title-art{
    text-align: center;
    font-size: 1.6rem;
   }

#grid-item5-img-art{
    width: 100%;
    height: auto;
    max-height: 200px;
    box-shadow: 2px 2px 3px var(--dark-slate-gray);
   }

#grid-item5-caption-art{
    text-align: center;
   }


   #grid-item5-title-art,#grid-item6-title-art,#grid-item7-title-art,#grid-item8-title-art,#grid-item9-title-art{
    margin-bottom: 10px;
    text-align: center;
   }

   #grid-item6-author-art,#grid-item7-author-art,#grid-item8-author-art,#grid-item9-author-art{
    font-style: italic;
    text-align: center;
    color: var(--dim-gray);
   }

   #grid-item6-abstract-art,#grid-item7-abstract-art,#grid-item8-abstract-art,#grid-item9-abstract-art{
    text-align: center;
    margin-bottom: 10px;
  }

/* US */
.picture-us{
    width: 40%;
}

#img-us{
    width: 100%;
    height: auto;
    max-height: 180px;
    box-shadow: 2px 2px 3px var(--dark-slate-gray);

}

.headline #author-us{
    font-style: italic;
    color: var(--dim-gray);
}

.headline #author-us{
    font-style: italic;
    color: var(--dim-gray);
}


#grid-item3-img-us{
    width: 100%;
    height: auto;
    max-height: 200px;
    box-shadow: 2px 2px 3px var(--dark-slate-gray);
}

#headline-location-us{
    font-size: 2.5rem;
    text-align: center;
}

#headline-caption-us{
    text-align: center;
}

#grid-item2-title-us{
    font-size: 1.6rem;
    margin-bottom: 10px;
}

#grid-item2-abstract-us{
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#grid-item2-author-us{
    font-style: italic;
    color: var(--dim-gray);
}

#grid-item4-img-us{
    width: 100%;
    height: auto;
    max-height: 300px;
    box-shadow: 2px 2px 3px var(--dark-slate-gray);
}

#grid-item3-caption-us{
    font-size: 1.3rem;
}

#grid-item4-title-us{
    font-size: 1.6rem;
    margin-bottom: 10px;
}

#grid-item4-caption-us{
    font-size: 1.3rem;
    margin-bottom: 10px;
}

#grid-item5-title-us{
    text-align: center;
    font-size: 1.6rem;
   }

#grid-item5-img-us{
    width: 100%;
    height: auto;
    max-height: 200px;
    box-shadow: 2px 2px 3px var(--dark-slate-gray);
   }

#grid-item5-caption-us{
    text-align: center;
   }


   #grid-item5-title-us,#grid-item6-title-us,#grid-item7-title-us,#grid-item8-title-us,#grid-item9-title-us{
    margin-bottom: 10px;
    text-align: center;
   }

   #grid-item6-author-us,#grid-item7-author-us,#grid-item8-author-us,#grid-item9-author-us{
    font-style: italic;
    text-align: center;
    color: var(--dim-gray);
   }

   #grid-item6-abstract-us,#grid-item7-abstract-us,#grid-item8-abstract-us,#grid-item9-abstract-us{
    text-align: center;
    margin-bottom: 10px;
  }


footer{
    background-color: var(--ivory);
    padding: 20px;
    display: flex;
    justify-content: center;
    color: var(--dark-slate-gray);
    font-size: 1.4rem;
}

